name: "Publish Rust Xous to FlakeHub"

on:
  workflow_run:
    workflows: ["Build Rust Xous Toolchain"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  flakehub-publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@v5"
        with:
          persist-credentials: false
      - uses: "DeterminateSystems/determinate-nix-action@v3"
      - uses: "DeterminateSystems/flakehub-push@main"
        with:
          name: "gluonix/rust-xous-flake"
          rolling-minor: true
          visibility: "public"
          include-output-paths: true
